*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
body{
  font-family: Arial, sans-serif;
}
.navbar
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px 20px;
}
.logo
{
  color: #fdc50c;
  font-size: 24px;
  font-weight: bold;
}
.links{
 list-style: none;
 display: flex;
}
.links li{
  margin: 0 15px;
}
.links a{
  text-decoration: none;
  color: #fdc50c;
  font-size: 18px;
}
.hamburger
{
  display: none;
  flex-direction: column;
  cursor: pointer;
  color:#fdc50c;
}
.bar
{
  width: 30px;
  height: 4px;
 background-color: white;
 margin: 5px 0;
}
@media(max-width:768px)
{
  .links{
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    text-align: center;

  }
  .links li{
    margin: 10px;
  }
  .links active{
    display: flex;
  }
  .hamburger{
    display: block;
  }
}